appdirs==1.4.4
asgiref==3.4.1
backports-datetime-fromisoformat==1.0.0
black==21.6b0
certifi==2021.5.30
chardet==4.0.0
click==8.0.1
decorator==5.0.9
dj-database-url==0.5.0
Django==3.1.8
django-appconf==1.0.4
django-classy-tags==2.0.0
django-clear-cache==0.3
django-dynamic-path==0.0.5
django-early-return==0.0.1
django-environ==0.4.5
django-formtools==2.3
django-heroku==0.0.0
django-referer-csrf==0.0.1
django-sekizai==2.0.0
django-treebeard==4.5.1
djangorestframework==3.12.4
environ==1.0
feedparser==6.0.8
fontawesome-free==5.15.3
gunicorn==20.1.0
heroku==0.1.4
idna==3.2
jsonfield==3.1.0
mypy-extensions==0.4.3
pathspec==0.8.1
Pillow==8.3.1
psycopg2-binary==2.9.1
python-dateutil==1.5
pytz==2021.1
regex==2021.7.6
requests==2.25.1
sgmllib3k==1.0.0
six==1.16.0
sqlparse==0.4.1
svgwrite==1.4.1
toml==0.10.2
urllib3==1.26.5
validators==0.18.2
whitenoise==5.3.0
