{% load static %}

{% block content %}
    {% verbatim %}
    <div v-if="items.length">
        <masonry :cols="{default: 3, 700: 2, 400: 1}"
                 :gutter="{default: '30px', 700: '15px'}">
            <div v-for="item in items" class="card">
                <div v-if="item.links[1]" class="card-image">
                    <figure class="image">
                        <img v-bind:src="item.links[1].href">
                    </figure>
                </div>
                <div class="card-content">
                    <div class="media">
                        <div class="media-content">
                            <p class="title is-4">
                                <a v-bind:href="item.link" target="_blank" rel="noreferrer noopener">{{ item.title }}</a>
                            </p>
                            <div v-if="item.author">
                                <p class="subtitle is-6 is-italic">by {{ item.author }}</p>
                            </div>
                        </div>
                    </div>
                    <div class="content">
                        <truncate :length="100" type="html" :text="item.summary"></truncate>
                    </div>
                    <br>
                    <time datetime="2016-1-1">{{ item.published }}</time>
                </div>
            </div>
        </masonry>
    </div>
    <div v-if="!items.length">
        <article class="message is-info">
            <div class="message-body">
                <p class="">Add your favorite RSS feed above.</p>
            </div>
        </article>
    </div>
    {% endverbatim %}
{% endblock %}