{% extends 'base.html' %}
{% load static %}

{% block content %}
<div id="rss-app" class="container">
    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a href='{% url "index" %}'>
                <img src="{% static 'feedreader.png' %}" alt="Feed Reader">
            </a>
            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>
        <div id="navbarBasicExample" class="navbar-menu">
            <div class="navbar-start">
                <a class="navbar-item" href="#feeds" @click="setRoute('feeds')">
                    <h5>Feeds</h5>
                </a>
                <a class="navbar-item" href="#settings" @click="setRoute('settings')">
                    <h5>Settings</h5>
                </a>
            </div>
            <div class="navbar-end">
                <div class="navbar-item">
                    <div class="theme-switch-wrapper">
                        <label class="theme-switch" for="checkbox">
                            <input type="checkbox" id="checkbox" />
                            <div class="slider round"></div>
                        </label>
                        <i class="far fa-moon fa-2x ml-2"></i>
                    </div>
                </div>
            </div>
        </div>
    </nav>

    <div class="field is-grouped">
        <p class="control is-expanded">
            <input class="input is-rounded" type="text" v-model="newLink" placeholder="Paste feed URL">
        </p>
        <button @click="newFeed" class="button is-info is-outlined" title="Add feed"><i class="fas fa-plus"></i></button>
    </div>
    <article class="message is-small is-success" v-if="showMessage">
        <div class="message-body">
            <p>Feed added</p>
        </div>
    </article>
    <div v-if="route == 'settings'">
        {% include 'settings.html' %}
    </div>
    <div v-if="route == 'feeds'">
        {% include 'feed.html' %}
    </div>
</div>

{% load static %}
<script type="application/javascript" src="{% static 'index.js' %}"></script>
<script type="application/javascript">
    const toggleSwitch = document.querySelector('.theme-switch input[type="checkbox"]');

    function switchTheme(e) {
        if (e.target.checked) {
            document.documentElement.setAttribute('data-theme', 'dark');
        }
        else {
            document.documentElement.setAttribute('data-theme', 'light');
        }
    }

    toggleSwitch.addEventListener('change', switchTheme, false);
    window.addEventListener("load", function() {
        rssApp.setup();
    });
</script>

{% endblock %}