{% load static %}
{% block content %}
    <section class="section">
        <h2 class="title">Recommended Feeds</h2>
        <div class="field is-grouped">
            <p class="subtitle is-5">
                Here are a few links to get you started:
            </p>
            <div class="is-grouped is-grouped-multiline">
                <div class="control">
                    <div class="tag has-addons">
                        <a class="tag is-link is-danger">Sky Sports</a>
                        <a class="tag is-delete"></a>
                    </div>
                    <div class="tag has-addons">
                        <a class="tag is-link is-warning">Aljazeera News</a>
                        <a class="tag is-delete"></a>
                    </div>
                    <div class="tag has-addons">
                        <a class="tag is-link is-dark">Resident Advisor</a>
                        <a class="tag is-delete"></a>
                    </div>
                    <div class="tag has-addons">
                        <a class="tag is-link is-light">Vox</a>
                        <a class="tag is-delete"></a>
                    </div>
                    <div class="tag has-addons">
                        <a class="tag is-link is-info">Food.com</a>
                        <a class="tag is-delete"></a>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}